<header ng-include="'header.html'"></header>
<div class="changePasswordPage">
  <div class="content">
    <form ng-submit="userChangePassword()" name="userChangePasswordForm" novalidate>
      <label>
        Old password
      </label>
      <input type="password" placeholder="old Password" 
             name="oldPassword" ng-model="user.oldPassword" 
             ng-required="true"/><br>           
      <label class="password">
        New Password
      </label>
      <input type="password" placeholder="New Password" 
             name="password" ng-model="user.newpassword" 
             ng-required="true" ng-pattern="newPassword"/><br>
        <div ng-show="userChangePasswordForm.password.$touched && 
                      userChangePasswordForm.password.$error.pattern">
          <small class="newPasswordMessage">
            Password Should Contain Min Length 5
          </small>
        </div>
      <label class="password">
        Confirm New Password
      </label>
      <input type="password" placeholder="Confirm password" 
             name="confirmPassword" ng-model="user.newConfirmpassword" 
             compare-to="user.newpassword" ng-required="true" ng-pattern="newPassword"/><br>
        <span ng-show="userChangePasswordForm.confirmPassword.$error.compareTo && 
                       userChangePasswordForm.confirmPassword.$touched && 
                       userChangePasswordForm.confirmPassword.$error.pattern">
          <small class="newPasswordMessage"></small>
        </span>
        <div ng-show="user.newpassword != user.newConfirmpassword && 
                      userChangePasswordForm.confirmPassword.$dirty" 
                      class="red">
            Passwords do not match
        </div>
        <input type="submit" class="signInSubmit" ng-disabled="userChangePasswordForm.$invalid"/>
    </form>      
  </div>
</div>