<div class="signInContent">
<div class="errorMessage">{{errorMessage}}</div>
<div class="userSignInContent">
    <form ng-submit="userSignIn()" name="userSignInForm" novalidate>
        <label class="email">Email address</label>
        <input type="email" placeholder="email" name="email" ng-model="user.email" ng-required="true" ng-pattern="email"/><br>
        <div ng-show="userSignInForm.email.$touched && userSignInForm.email.$error.pattern">
          <small class="signInerror">Enter a valid email</small>
      </div>
      <label class="password">Password</label>
        <input type="password" placeholder="password" name="password" ng-model="user.password" ng-required="true"/><br>
        
        <input type="submit" class="signInSubmit" ng-disabled="userSignInForm.$invalid"/>
      </form>      
</div>
<div class="signupBox">
<p>New to Website?&nbsp;&nbsp;<a href="" class="signupLink" ng-click="signUp()">Sign Up</a></p>
</div>
</div>